log/
sessions/
temp/
tmp/


auth.json
history.jsonl
models_cache.json
version.json
.DS_Store
config.toml

# vendor imports
vendor_imports/

# rules
rules/

# spec
spec/

# sqlite
sqlite/

#shell_snapshots
shell_snapshots/

skills/.system/
